<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <script src="js/service_worker.js"></script>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script defer src="res/mdl/material.min.js"></script>
    <meta name="description" content="{{description}}">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="img/icon64.jpg" />
    <meta property="og:url" content="{{url}}" />
    <meta name="description" content="{{description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2d3a4a">
    {{#> ld_json}}{{/ld_json}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','res/ga/analytics.js','ga');
        ga('create', 'UA-97461112-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta  http-equiv="content-security-policy" content="
    default-src 'none'; script-src 'self' www.google-analytics.com; style-src 'self' 'unsafe-inline'; img-src 'self' www.google-analytics.com stats.g.doubleclick.net; font-src 'self'; frame-src www.youtube.com player.vimeo.com; worker-src 'self';
    ">
    <link rel="icon" type="image/png" href="img/icon64.jpg">

    <link rel="stylesheet" href="res/mdl/custom.css">
    <link rel="stylesheet" href="res/min-font/fontello.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" id="linksbar">
                <a href="https://www.facebook.com/james.tapsell" class="mdl-navigation__link"><i class="icon-facebook" aria-hidden="true" title="Facebook"></i></a>
                <a href="https://telegram.me/jrtapsell" class="mdl-navigation__link"><i class="icon-telegram" aria-hidden="true" title="Telegram"></i></a>
                <a href="https://www.linkedin.com/in/jrtapsell/" class="mdl-navigation__link"><i class="icon-linkedin" aria-hidden="true" title="LinkedIn"></i></a>
                <a href="https://github.com/jrtapsell" class="mdl-navigation__link"><i class="icon-github" aria-hidden="true" title="GitHub"></i></a>
            </nav>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout__header-row" onclick="javascript:window.location='/'">
            <img src="img/icon64.jpg" class="mdl-shadow--2dp avatar" alt="My Avatar">
            <h1 class="mdl-layout-title">James Tapsell</h1>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" id="linksbar">
                <a href="/" class="mdl-navigation__link">Home</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="page-content mdl-cell mdl-cell--10-col">
            {{> content}}
        </div>
        <div class="mdl-layout-spacer"></div>
    </main>
</div>
</body>
</html>