<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <script defer src="js/service_worker.js"></script>
    <script defer src="js/dynamic.js"></script>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://www.gravatar.com/avatar/b47cf368d1e49ab0f7124944910c180e?s=256" />
    <meta property="og:url" content="{{url}}" />
    <link rel="canonical" href="{{url}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#2d3a4a">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@jrtapsell" />
    <meta name="twitter:site" content="@jrtapsell" />
    <meta name="twitter:title" content="{{title}} " />

    {{#> ld_json}}{{/ld_json}}
    <script async src="js/ga.js"></script>
    <link rel="icon" type="image/png" href="img/icon64.jpg">

    <link rel="stylesheet" href="res/mdl/custom.css">
    <link rel="stylesheet" href="res/min-font/fontello.css">
    <link rel="stylesheet" href="./index.css">
    <script type="application/ld+json">
        {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "James Tapsell Personal Site",
  "alternateName": "Jrtapsell Personal Site",
  "url": "https://www.jrtapsell.co.uk/"
}
    </script>
    {{#> extra_head}}{{/extra_head}}
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" id="linksbar">
                {{#load_file "social.json"}}
                    {{#each this}}
                        {{#if header}}
                        <a id="social_a_{{toId name}}" rel="me" href="{{url}}" class="mdl-navigation__link profile" data-username="{{username}}" aria-labelledby="social_i_{{toId name}}">
                            <i id="social_i_{{toId name}}" class="icon-{{icon}}" aria-hidden="true" title="{{name}}" aria-label="{{name}}"></i>
                        </a>
                        {{/if}}
                    {{/each}}
                {{/load_file}}
            </nav>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout__header-row" onclick="javascript:window.location='/'">
            <img src="img/icon64.jpg" class="mdl-shadow--2dp avatar" alt="My Avatar">
            <h1 class="mdl-layout-title">James Tapsell</h1>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a href="/" class="mdl-navigation__link">Home</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="page-content mdl-cell mdl-cell--10-col">
            {{> content}}
        </div>
        <div class="mdl-layout-spacer"></div>
    </main>
</div>

<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">About this site</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="https://github.com/jrtapsell/personal">GitHub</a></li>
                <li><a href="privacy.html">Privacy & Tracking</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Share</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title=&summary=&source=">LinkedIn</a></li>
                <li><a href="http://www.twitter.com/share?url={{url}}">Twitter</a></li>
            </ul>
        </div>
        <div class="mdl-layout-spacer"></div>

    </div>

</footer>

</body>
</html>