<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <script src="js/service_worker.js"></script>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://www.gravatar.com/avatar/b47cf368d1e49ab0f7124944910c180e?s=256" />
    <meta property="og:url" content="{{url}}" />
    <link rel="canonical" href="{{url}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2d3a4a">
    {{#> ld_json}}{{/ld_json}}
    <script async src="js/ga.js"></script>
    <link rel="icon" type="image/png" href="img/icon64.jpg">

    <link rel="stylesheet" href="res/mdl/custom.css">
    <link rel="stylesheet" href="res/min-font/fontello.css">
    <link rel="stylesheet" href="./index.css">
    <script type="application/ld+json">
        {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "James Tapsell Personal Site",
  "alternateName": "Jrtapsell Personal Site",
  "url": "https://www.jrtapsell.co.uk/"
}
    </script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" id="linksbar">
                {{#load_file "social.json"}}
                    {{#each this}}
                        <a rel="me" href="{{url}}" class="mdl-navigation__link"><i class="icon-{{icon}}" aria-hidden="true" title="{{name}}"></i></a>
                    {{/each}}
                {{/load_file}}
            </nav>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout__header-row" onclick="javascript:window.location='/'">
            <img src="img/icon64.jpg" class="mdl-shadow--2dp avatar" alt="My Avatar">
            <h1 class="mdl-layout-title">James Tapsell</h1>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation" id="linksbar">
                <a href="/" class="mdl-navigation__link">Home</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="page-content mdl-cell mdl-cell--10-col">
            {{> content}}
        </div>
        <div class="mdl-layout-spacer"></div>
    </main>
</div>
</body>
</html>