{{#*inline "ld_json"}}
<script type="application/ld+json">
{
"@context" : "http://schema.org",
"@type" : "Person",
"name" : "James Tapsell",
"url" : "https://www.jrtapsell.co.uk",
"sameAs" : [
"https://www.facebook.com/james.tapsell",
"https://telegram.me/jrtapsell",
"https://www.linkedin.com/in/jrtapsell/",
"https://github.com/jrtapsell"
],
"email": "contact@jrtapsell.co.uk",
"image": "https://www.jrtapsell.co.uk/img/icon512.jpg"
}
</script>
{{/inline}}
{{#*inline "content"}}
<div id="about">
    <h2>About Me</h2>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class=" mdl-cell mdl-cell--8-col">
            <p>
                My name is James Tapsell, I am student at <b>Royal Holloway, University of London</b>, studying <b>MSci Computer
                Science (Information Security) with a year in industry.</b>
            </p>
            <p>
                I take part in CTFs with the TU6PM team, this allows me to learn new skills and by seeing
                flaws in systems and exploiting them I aim to make systems I develop more secure.
            </p>
        </div>
    </div>
</div>
<div id="target">
    {{#each items}}
        <h2 id="{{name}}">{{name}}</h2>
        {{#with children}}
            <div class="card-container mdl-grid">
                {{#each this}}
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
                        <div class="image-wrapper"
                             style="background: {{#if backing}}{{backing}}{{else}}#2d3a4a{{/if}};">
                            <div class="mdl-card__title"
                                 style="background: url('{{{icon}}}') center center / contain no-repeat;">
                                <h3 class="mdl-card__title-text card-title">{{name}}</h3>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">{{description}}</div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="{{{url}}}" data-upgraded=",MaterialButton,MaterialRipple">
                                Go To
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/with}}
    {{/each}}
</div>
{{/inline}}
{{> layout/base
    title="James Tapsell"
    description="The personal site of James Tapsell, second year Computer Science with Information Security student at Royal Holloway, University of London"
    url="https://www.jrtapsell.co.uk"}}
